/*hola*/
/*usando class*/
.azul{
	background-color: blue;
}
/*cambiando colores a las etiquetas*/
h1,h2,p{
	color:purple;
}
/* le sacamos la linea al enlace*/
a{
	color:white;
	text-decoration: none;
}
/*USANDO ID*/
#titulo{
	background-color: red;
}
/*Llamando al li siguiente del primero*/
li:first-of-type + li{
	color:white;
}
/*llamando al primer hijo de ol*/
ol li:first-child{
	color:green;
}
/*llamando al ultimo hijo de ol*/
li:last-child{
	color:yellow;
}
/*cambiando el color de la caja*/
.caja {
	background-color: yellow;
	padding: 1em;
	border: 1em dashed red;
	display: inline-block;

}
.caja2 {
	background-color: green;
	padding: 1em;
	margin-left: 1em;
	border: 1em outset brown;
	display: inline-block;
}
.caja3 {
	background-color: blue;
	padding: 1em;
	margin-left: 1em;
	border: 1em double black;
	display: inline-block;
}
.caja4 {
	background-color: aqua;
	padding: 1em;
	margin-top: 1em;
	border: 1em solid black;
}
body {
	margin: 0;
}
h2 {
	text-align: right;
}